<div class="login-wrapper">
  <div class="login-body">
    <p>メールアドレス</p>
    <p><input class="form" type="text" name="email" placeholder="tweeting@tweeting.com"></p>
    <p>パスワード</p>
    <p><input class="form" type="password" name="password"></p>
    <p><input class="submit-btn" type="submit" value="ログイン"></p>
  </div>
</div>