<div class="signup-wrapper">
  <h1>さあ、世界に向けてつぶやこう！</h1>
  <div class="signup-body">
    <p>ユーザー名</p>
    <input class="form" type="text" name="name" placeholder="ケンシロウ">
    <p>メールアドレス</p>
    <input class="form" type="text" name="email" placeholder="tweetin@tweeting.com">
    <p>パスワード</p>
    <input class="form" type="password" name="password">
    <p><input class="submit-btn" type="submit" value="新規登録"></p>
  </div>
</div>