<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <title>Tweetingとは</title>
</head>
<body>

  <div class="about-wrapper">
    <div class="container">
      <h1>Tweetingとは？</h1>
      <div class="about-txt">
        <p>
          小さなつぶやきが大きな変化を起こす小さなつぶやきが大きな変化を起こす小さなつぶやきが大きな変化を起こす小さなつぶやきが大きな変化を起こす小さなつぶやきが大きな変化を起こす小さなつぶやきが大きな変化を起こす小さなつぶやきが大きな変化を起こす小さなつぶやきが大きな変化を起こす小さなつぶやきが大きな変化を起こす小さなつぶやきが大きな変化を起こす小さなつぶやきが大きな変化を起こす小さなつぶやきが大きな変化を起こす小さなつぶやきが大きな変化を起こす小さなつぶやきが大きな変化を起こす小さなつぶやきが大きな変化を起こす小さなつぶやきが大きな変化を起こす小さなつぶやきが大きな変化を起こす
        </p>
      </div>
      <div class="btn-wrapper">
        <a class="btn login" href="login.html">ログイン</a>
        <a class="btn signup" href="signup.html">新規登録</a>
      </div>
    </div>
  </div>

  
  
</body>
</html>