
  <div class="main-wrapper">
    <div class="container">
      <h1>Tweeting</h1>
      <p>小さなつぶやきが大きな変化を起こす</p>
      <div class="btn-wrapper">
        <a class="btn login" href="login.html">ログイン</a>
        <a class="btn signup" href="signup.html">新規登録</a>
      </div>
    </div>
  </div>
  
